*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    background-image: url('./src/assets/background.jpg');
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: auto 935px;
}

.test{
    width: 330px;
    height: 260px;
    background: #222;
    position: absolute;
    top: 3.6%;
    left: 38.5%;
}

canvas{
    /* height: 256px;
    width: 256px;
    background: red; */
    position: absolute;
    top: 4%;
    left: 41%;
}